@(studentForm: Form[Student],
		faculty: Map[String,Boolean],
		classStudent: Map[String,Boolean])
@import helper._
@import helper.twitterBootstrap._
@import bootstrap3._

@main("Student form") {
	<h1>Product form</h1>
	@form(action =  helper.CSRF(routes.Quanly.save()), 'enctype -> "multipart/form-data") {
		<input type="hidden" value="@studentForm("id").valueOr("")" name="id"/>
		<fieldset>
			<legend>Product (@studentForm("mssv").valueOr("New"))</legend>
			@text(studentForm("mssv"),
				label = "MSSV",
				placeholder = "",
				help = "Please enter your mssv. (required)")

			@text(studentForm("name"),
				label = "Name",
				placeholder = "",
				help = "Please enter your first and last name. (required)")

			@text(studentForm("birthDay"),
				label = "Ngay Sinh",
				placeholder = "dd-mm-yyyy",
				help = "Please enter your birthday. (required)")

			@select2(studentForm("classStudent"),
				label = "Lop Hoc",
				optionMap = classStudent,
				isMultiple = false,
				help = "Select your faculty. (required)")

			@select2(studentForm("faculty"),
				label = "Nganh Hoc",
				optionMap = faculty,
				isMultiple = false,
				help = "Select your faculty. (required)")



@*			@select(studentForm("faculty"),
				options(Seq("K55","K56")),
				'_label -> "Game duration", '_default -> "-- Select duration --"
			)*@
		</fieldset>
		<br/>
		<input type="submit" class="btn btn-primary" value="Save">
		<a class="btn" href="@routes.Application.index()">Cancel</a>
	}
}
