@(currentPage: com.avaje.ebean.Page[Student])
@main("List Students") {
	<h2>All products</h2>
	<script>
	function del(urlToDelete) {
	$.ajax({
	url: urlToDelete,
	type: 'DELETE',
	success: function(results) {
	// Refresh the page
	location.reload();
	}
	});
	}
	</script>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>MSSV</th>
				<th>Ho Ten</th>
				<th>Ngay Sinh</th>
				<th>Lop hoc + Nganh hoc</th>
			</tr>
		</thead>
		<tbody>
			@for(student <- currentPage.getList()) {
				<tr>
					<td><a href="@routes.Quanly.details(student)">@student.mssv</a></td>
						<td>@student.name</td>
						<td>@student.birthDay</td>
					<td>
						@student.classStudent - @student.faculty
					</td>
					<td>
						<a href="@routes.Quanly.details(student)"><i class="icon icon-pencil"></i></a>
						<a onclick="javascript:del('@routes.Quanly.delete(student.mssv)')"><i class="icon icon-trash"></i></a>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<div id="pagination" class="pagination">
		<ul>
			@if(currentPage.hasPrev) {
				<li class="prev">
					<a href="@routes.Quanly.list(currentPage.getPageIndex - 1)">&larr; </a>
				</li>
			} else {
				<li class="prev disabled">
					<a>&larr;</a>
				</li>
			}
			<li class="current">
				<a>@currentPage.getDisplayXtoYofZ(" - "," / ")</a>
			</li>
			@if(currentPage.hasNext) {
				<li class="next">
					<a href="@routes.Quanly.list(currentPage.getPageIndex + 1)"> &rarr;</a>
				</li>
			} else {
				<li class="next disabled">
					<a>&rarr;</a>
				</li>
			}
		</ul>
	</div>
	<a href="@routes.Quanly.newStudent()" class="btn"><i class="icon-plus"></i> New Student</a>
}

