@(currentPage: com.avaje.ebean.Page[Student])
@main("Quanly catalogue") {

	<h2>All students</h2>

	<script>
	function del(urlToDelete) {
	$.ajax({
	url: urlToDelete,
	type: 'DELETE',
	success: function(results) {
	// Refresh the page
	location.reload();
	}
	});
	}
	</script>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>MSSV</th>
				<th>Ho Ten</th>
				<th>Ngay Sinh</th>
				<th>Lop hoc + Nganh hoc</th>
			</tr>
		</thead>
		<tbody>
		@for(student <- currentPage.getList()) {
			<tr>
				<td><a href="@routes.Quanly.details(student)">@student.mssv</a></td>
				<td>@student.name</td>
				<td>@student.birthDay</td>
				<td>
					@student.classStudent - @student.faculty
				</td>
				<td>
					<a href="@routes.Quanly.details(student)">
						<span class="glyphicon glyphicon-pencil"></span></a>
					<a onclick="javascript : del ( ' @routes.Quanly.delete(student.mssv) ')">
						<span class="glyphicon glyphicon-trash"></span></a>
				</td>
			</tr>
		}
		</tbody>
	</table>

	@pagination(currentPage.hasPrev, routes.Quanly.list(currentPage.getPageIndex - 1).toString, currentPage.hasNext, routes.Quanly.list(currentPage.getPageIndex + 1).toString, currentPage.getDisplayXtoYofZ(" - "," / "))

	<br/>
	<a href="@routes.Quanly.newStudent()" class="btn btn-primary"><i class="icon-plus"></i> New student</a>
	<br/>
	<br/>
}