@(hasPrevious: Boolean, previousPageLink: String, hasNext: Boolean, nextPageLink: String, text: String)

<div id="pagination" class="pagination">
	@if(hasPrevious) {
		<li>
			<a href="@previousPageLink">&larr; </a>
		</li>
	} else {
		<li class="disabled"><a>&larr;</a></li>
	}
	<li class="current"><a>@text</a></li>
	@if(hasNext) {
		<li>
			<a href="@nextPageLink"> &rarr;</a>
		</li>
	} else {
		<li class="disabled"><a>&rarr;</a></li>
	}
</div>